
html, body {
  margin: 0;
  padding: 0;
}

header { 
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #333333;
}

footer {
   position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

ol {
color: maroon;
  background-color: #DE5D83
}

ul {
  color: orange;
  backGround-color: #DE5D83
}

h1 {
  font-size: 50px;
    padding: 0 40px;
}
